* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/mario.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    box-shadow: 0px 17px 59px 11px rgba(63, 0, 199, 0.62);
}

.navigation h1 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    background-image: linear-gradient(
        90deg,
        #4d40ff 0%,
        #466e85 46%,
        #ff0055 86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation h1 i{
    margin-right: 10px;
    color: #ffffff;
}

ul {
    position: relative;
    display: flex;
    height: 70px;
    padding-left: 0;
    text-align: right;
    margin: 0;
    display: flex;
    gap: 5px;
}

li {
    display: inline-block;
    margin-right: 10px;    
    width: 150px;
    height: 40px;
    padding-top: 25px;
    font-weight: bold;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}
a {
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.5s;
    display: block;
}

a:hover {
    background-color: #a581ff5b;
    box-shadow: 0px 0px 400px 86px #a481ff;
    -webkit-box-shadow: 0px 0px 400px 86px #a481ff;
    -moz-box-shadow: 0px 0px 400px 86px #a481ff;
    text-decoration: underline white;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;

}

.hero h2 {
    font-size: 45px;
    margin-bottom: 20px;
    font: black;
}
.hero p {
    font-size: 18px;
    max-width: 950px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: navy;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.cta-button:hover {
    background: darkblue;
}